<div>
    <label for="Titulo">Titulo</label>
    <div>
        <input autofocus class="form-control" name="Titulo" value="<%= model.Titulo %>" />
    </div>
</div>

<div>
    <label for="Comments">Nota</label>
    <div>
        <textarea class="form-control" cols="15" name="Comments" maxlength="30000" rows="10"><%= model.Comments %></textarea>
    </div>
</div>