<%- include("_header") -%>
    <form action="/" method="post">
        <b>User</b><br>
        <input type="text" name="Login" value="admin"><br>
        <b>Password</b> <br>
        <input type="password" name="Password" value="123">
        <input type="submit" value="Logar">
    </form>
    <%- include("_footer") -%>